* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: monospace;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 0.5fr;
    grid-template-rows: 15vh auto auto;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
        ;
}

header {
    grid-area: header;
    display: grid;
    grid-template-areas: 
        "header_n1 header_n2 header_n3";
    grid-template-columns: 0.7fr 2fr 0.5fr;
    grid-template-rows: auto;
    background-color: white;
    max-height: auto;
}

    .header_n1 {
        grid-area: header_n1;
        text-align: center;
    }

    .header_n1 img {
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        padding: 1vw;
        width: 6vw;
        height: auto;
        padding: 0;
        margin: 0.5vw;
        margin-top: 1.5vw;
    }

    .header_n1 img:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border: none;
    }

    .header_n2 {
        grid-area: header_n2;
        width: 100%;
        min-height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center ;
    }
        
        .search_box {
            position: relative;
            justify-content: end;
            display: flex;
        }
        
        #search_button {
            width: 3vw;
            height: 6.5vh;
            background: #4ce3ee;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            cursor: pointer;
            margin-left: 10px;
        }

        #search_button_span {
            border: none;
            width: 4vw;
            cursor: pointer;
            font-size: 0;
        }

        #search_button_span:hover {
            background-color: rgb(56, 50, 50);
            color: white;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        }

        #search_bar_input {
            border-top-left-radius: 1vw;
            border-bottom-left-radius: 1vw;
            width: 50vw; 
	        height: 6.5vh;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;
            padding: 0.3vw;
        }

        #search_bar_input:hover {
            border: none;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }

    body > div > header > div.header_n3 {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 1.2vw;
    }

    body > div > header > div.header_n3 i {
        color: gray;
    }

    .header_n3 {
        grid-area: header_n3;
    }
    .header_n3 #welcome {
        margin: 1.5vw;
        padding-right: 1vw;
    }
    .header_n3 span {
        font-size: 2vw;
        padding: 2vw;
        cursor: pointer;
        text-align: left;
        justify-content: left;
        align-items: left;
        border-radius: 50%;

    }

        .header_n3 span:hover {
            background-color: rgb(56, 50, 50);
            color: white;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;        }

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
        ". slider .",
        ". promotions .",
        ". best_sellers .",
        ". all_items .",
        ". cart_screen .";
    grid-template-rows: auto;
}

    .slider {
        height: 50vh;
        width: 80vw;
        margin: 0 auto;
        display: flex;
        display: flex;
        align-items: center;
        margin-top: 5vh;
    }

        .slide {
            /* position: relative;
            align-items: center; */
            display: flex;
            width: 100%;
            height: 100%;
        }

            .slide > #next_button, #previous_button {
                position: absolute;
                cursor: pointer;
                font-size: 4vw;
                background-color: white(228, 215, 215);
                color: red;
                border-radius: 50%;
                top: 40vh;
            }

            .slide > #next_button {
                position: absolute;
                left: 85.5vw;
            }

            .slide > #next_button:hover, #previous_button:hover {
                background-color: rgb(240, 215, 215);
            }


                #slider_image img {
                    margin: 0 auto;
                    height: 100%;
                    width: 100%;
                }


    body > div > div > h1, #promotions_title {
        font-size: 2.5vw;
        padding: 2vw;
        margin: 2vw;
        font-family: 'Montserrat', sans-serif; 
    }

    #promotions, #best_sellers, #all_items, #cart_items {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex: none;

    }
    
    .card {
        position: relative;
        background-color: rgb(247, 243, 243);
        border-radius: 1vw;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);    
        transition: 0.3s;
        cursor: pointer;
        width: auto;
    }

    .card:hover {
        transition: 0.3s;
        background-color: rgb(193, 238, 217);
    }

    .card .sales_reviews {
        position: relative;
        margin-left: 0.3vw;
    }

    .card .oldPrice {
        text-decoration: line-through;
        color: rgb(238, 60, 60);
        margin-left: 0.3vw;
    }

    .card .price {
        text-transform: bold;
        color: green;
        font-weight: bold;
        margin-left: 0.3vw;
    }

    .card .values {
        color: green;
        text-align: center;
        justify-content: center;
    }

    .card .discount_percentage {
        position: relative;
        padding: 0.1vw;
        top: -6px;
    }

    .card h4 {
        margin: 0.3vw;
    }

    #screen .searched_card {
        display: grid;
        grid-template-areas: 
        'searched_image searched_values';
        grid-template-columns: 70% 30%;
        height: 100%;
        align-items: center;
    }
    #screen .card {
        background-color: red;
        display: flex;
    }

    #screen .searched_values {
        grid-area: searched_values;
        font-size: 1.5vw;
        text-align: center;
        padding: 1vw;
        
    }

    #screen .searched_item_name {
        display: flex;
        position: absolute;
        top: 0%;
        padding: 1vw;
    }
    
    #screen .searched_oldPrice {
        color: red;
        text-decoration: line-through;
    }

    #screen .searched_discount_percentage {
        position: relative;
        padding: 0.1vw;
        top: -3px;
    }
    
    #screen .searched_price, .searched_discount_percentage, #card_span_icon {
        color: green;
    }

    #screen .searched_sales_reviews {
        position: absolute;
        padding: 1vw;
        top: 10%;
        right: 4%;
    }

    #screen #clicked_screen_buttons {
        display: block;
        position: absolute;
        bottom: 0%;
        padding: 1vw;
    }

    #screen #add_cart_clicked_screen_button {
        background-color: #1c5560;
        border: none;
        color: white;
        width: 100%;
        padding: 1vw;
        margin-bottom: 1vw;
        border-radius: 2vw;
        font-size: 1vw;
    }
    #screen #add_cart_clicked_screen_button:hover {
        cursor: pointer;
        background-color: #4ce3ee;
        color: black;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    }

    #screen #skip_clicked_screen_button{
        width: 100%;
        margin-top: 1vw;
        padding: 1vw;
        border-radius: 2vw;
        background-color: #be2f3e;
        border: none;
        color: white;
        font-size: 1vw; 
    }

    #screen #skip_clicked_screen_button:hover {
        cursor: pointer;
        color: black;
        background-color: #eb7883;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    #screen .searched_image {
        grid-area: searched_image;
        display: flex;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 80%;
        height: auto;
    }

    #cart_items {
        grid-area: cart_items;
    }

    #items_config {
        grid-area: items_config;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .config_button {
        display: flex;
        width: auto;
        height: 5vh;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        border: none;
        padding: 1vw;
        cursor: pointer;    
        width: 100%;
    }

    .config_button:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background-color: rgb(56, 50, 50);
        color: white;
    }

    #config_select_buttons {
        color: rgb(175, 235, 243);
        background-color: rgb(56, 50, 50);
        display: none;
        position: absolute;
        z-index: 1;
        width: 20%;
    }

    .config_button:hover + #config_select_buttons {display: block; }
    #config_select_buttons:hover {display: block;}

    #controller_options {
        width: 20%;
        margin: 0 auto;
    }

    #menu_icon {
        color: #255a66;
    }

    #buy_cart_items {
        text-align: center;
        padding: 1vw;
        position: relative;
        margin: 0 auto;
    }

    #buy_cart_items .button_cart_items {
        padding: 1.5vw;
        width: 50%;
        border-radius: 3rem;
        border: none;
        font-size: 1.5vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    #buy_cart_items .button_cart_items:hover {
        background-color: rgb(56, 50, 50);
        color: white;
        cursor: pointer;
    }




footer {
    grid-area: footer;
    display: inline-flex;
    padding: 1.2vw;
    justify-content: center;
    width: 100%;

}
    footer ul {
        justify-content: left;
        align-items: left;
        text-align: left;
    }

    footer ul li {
        font-size: 1vw;
        margin-left: 5vw;
        margin-right: 5vw;
        list-style-type: none;
        padding: 0.2vw;
    }

        footer ul li#subtitle {
            font-weight: bold;
        }